.interaction-wrapper {
    width: 60%;
    padding: 5px;
    margin: 40px auto;
    margin-bottom: 20px;
    display: flex;
}

.interaction-wrapper input {
    flex: 2 0 80%;
    border: 2px solid lightblue;
    border-radius: 3px;
    padding: 5px 10px;
    color: #4b4848;
    font-size: 1rem;
}

.interaction-wrapper button {
    flex: 0 1 90px;
    border: 2px solid lightblue;
    border-radius: 3px;
    padding: 5px;
    background: rgb(174, 219, 247);
    color: rgb(46, 46, 219);
    font-size: 1rem;
    font-weight: bold;
}

.interaction-wrapper button:hover {
   cursor: pointer;
   background-color: var(--blue-cadet);
   border: 2px solid var(--blue-cadet);
   color: white;
}

/*from down below, semaphore*/
.interaction-wrapper .semaphore {
    flex: 0 1 110px;
    display: inline-flex;
    justify-content: space-around;
}

.semaphore > div {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    border: 1px solid lightgray;
    opacity: 0.9;
}

#green {
    background: green;
}

#yellow {
    background: yellow;
}

#red {
    background: red;
}

.semaphore > div:hover {
    cursor: pointer;
    opacity: 1;
}


.clear-all, .clear-done {
    display: block;
    margin: auto;
    width: 120px;
    margin-top: 100px;
    border-radius: 3px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.clear-all {
    border: 2px solid rgb(219, 34, 1);
    color: rgb(226, 50, 19);
}

.clear-done {
    border: 2px solid #4b4848;
    color: #302d2d;
    margin-top: 10px;
}

.clear-all:hover {
    cursor: pointer;
    color: white;
    background: rgb(228, 89, 65);
}
.clear-done:hover {
    cursor: pointer;
    color: white;
    background: #302d2d;
}

@media screen and (max-width: 610px) {
    .interaction-wrapper {
        width: 90%;
    }
    .main-wrapper h1 {
        font-size: 1.5rem;
    }
}